<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zeepos.streetbox"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        tools:targetApi="q">
        <activity android:name=".ui.broadcast.callcustomer.CustomerCallMapsActivity"></activity>
        <activity android:name=".ui.broadcast.callaccepted.AcceptedCallMapsActivity" />


        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            android:exported="false"
            tools:node="remove" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_config" />

        <activity
            android:name=".ui.parkingdetail.ParkingDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.cart.CartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.operatormerchant.OperatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.operator.main.OperatorFTActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.operator.main.OperatorMainActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".worker.LocationUpdatesBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.zeepos.streetbox.LocationUpdatesBroadcastReceiver.ACTION_LOCATION_UPDATES" />
            </intent-filter>
        </receiver>


        <service android:name=".ui.notification.MyFirebaseMessagingServiceFoodTruck">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />


    </application>

</manifest>